.contacts-form {
   grid-area: f;
   position: relative;
   display: flex;
   justify-content: center;
   justify-self: end;
   width: 85%;
   //height: 400px;
   &::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 86%;
      transform: translateY(7%);
      background-color: $colorWhite;
      top: 0;
      right: 0;
   }
   //background-color: wheat;
   form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      width: 80%;
      //background-color: plum;
   }
   input, textarea{
      width: 100%;
      padding: 0.2em;
      font-size: inherit;
      margin: .2em 0 .5em 0;
      color: $colorDarkGray;
   }
   textarea{
      height: 5em;
   }
   input[type=submit]{
      align-self: flex-end;

      height: 45px;
      width: 200px;

      font-size: inherit;
      font-weight: 400;
      text-transform: uppercase;
      
      cursor: pointer;
      background-color: $colorOrange;
      color: $colorWhite;
      transition: background-color .5s;
      &:hover{
         background-color: $colorLightOrange;
      }
   }

   p{
      font-size: .8em;
      font-weight: 400;
      color: $colorWhite;
      span{
         color: red;
      }
   }
   @media (max-width: 1025px) {
      width: 80%;
      justify-self: center;
      &::after{
         display: none;
      }
      input[type=submit]{
         align-self: center;
      }
   }
}

.footer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   //grid-t-rows: 100px 100px;
   grid-template-areas:
      "t t"
      "f i"
      "l l";
   background-color: $colorDarkGray;
   overflow: hidden;
   margin-top: 4px;
   p{
      color: $colorLightGray;
   }
   &__title{
      grid-area: t;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: .5em;

      text-align: center;
      font-size: 2em;
      line-height: normal;
      text-transform: uppercase;
      background-color: $colorDarkGray;
      color: $colorWhite;
   }
   &__contats-items {
      grid-area: i;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 85%;
      height: 400px;
      //margin-bottom: 15px;
      @media (max-width: 1025px) {
         width: 95%;
      }
      @media (max-width: 768px) {
         width: 80%;
      }
   }
   &__contats-item {
      display: flex;

      width: 85%;
      margin-bottom: 15px;
      svg {
         flex-shrink: 0;
         width: 40px;
         height: 40px;
         fill: $colorLightGray;
         transform: translateY(-25%);
      }
      p{
         white-space: nowrap;
         line-height: normal;
         margin-left: 15px;
      }
      @media (max-width: 768px) {
         width: 80%;
      }
   }
   &__contats-media{
      justify-content: center;
      svg {
         margin: 15px;
         transform: translateY(0);
      }
   }

   &__title {
   }

   &__data {
   }

   &__links {
      width: 100%;
      position: relative;
      grid-area: l;
      display: grid;
      justify-items: center;
      //grid-template-columns: repeat(auto-fill, minmax(calc(100%/6), 1fr));
      grid-template-columns: repeat(auto-fit, minmax(calc(100%/6), 1fr));

      height: auto;

      //background-color: tomato;

      font-size: inherit;
      @media (max-width: 768px) {
         //grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-columns: repeat(auto-fit, minmax(calc(100%/4), 1fr));
         
      }
      @media (max-width: 426px) {
         //grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-columns: repeat(auto-fit, minmax(calc(100%/2), 1fr));
         
      }
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         transform: translateX(2%);

         width: 96%;
         height: 1px;
         background-color: $colorLightGray;
         margin: 0 auto;
      }
      ul{
         margin-left: 1em;
         color: $colorLightGray;

         li{
            margin: 4px 0;
         }
         
         h2{
            font-size: 1em;
            line-height: normal;           
            a{
               color: $colorLightGray;
               font-size: inherit;
            }
         }
         h3{
            line-height: normal;
            font-size: .8em;
            margin-top: .6em;
            a{
               color: $colorLightGray;
               font-size: inherit;
            }
         }
         a{
            color: $colorLightGray;
            font-size: 0.8em;
            &:hover{
               color: $colorLightOrange;
            }
         }
         
      }
   }
   &__links-items{
      margin: 1em 0;
   }
   @media (max-width: 768px) {
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      grid-template-areas:
         "t"
         "f"
         "i"
         "l";
   }
}