
body {
   font-family: $fontFamily;
   font-size: $fz;
   font-weight: 400;
   &._lock {
      overflow: hidden;
   }
}

.logo {
   img {
      height: 50px;
      transition: all 0.5s;
      //&:hover {
      //   height: 64px;
      //   margin: 0;
      //}
   }
}

.button {
   width: 250px;
   height: 50px;
   font-family: $fz;
   font-size: 16px;
   font-weight: 700;
   background-color: $colorOrange;
   color: $colorWhite;
   text-align: center;
   white-space: nowrap;
   text-transform: uppercase;
   transition: all 0.5s;
   &:hover {
      background-color: $colorLightOrange;
   }
}

.wraper {
   width: 100%;
   min-height: 37px;
   height: auto;

   padding: 0 calc(8px + (120 - 8) * ((100vw - 1026px) / (1440 - 1026)));

   font-size: $fz;
   font-weight: 400;
   line-height: normal;

   background-color: $colorWhite;
   color: $colorBlue;
   a {
      color: $colorBlue;
      transition: all 0.5s;
      &:hover {
         color: $colorOrange;
      }
   }
   @media (max-width: 1026px) {
      padding: 0 calc(0px + (8 - 0) * ((100vw - 426px) / (1026 - 426)));
   }
}
