//Призначаю кольори проекту
$colorWhite: #fff;

$colorTemlate: #fcda9baf;
$colorContent: #b7f7f37e;

$colorBlue: #4170b4;

//Призначаю шрифти проекту
$fontFamily: "Montserrat", sans-serif;

//Призначаю додаткові змінні проекту
// calck(minSize + (startSize - minSize)*((100vw - minWidth) / (startWidth-minWidth)))
$adaptiveFZ: calc(12px + (18 - 12) * ((100vw - 770px) / (1600 - 770)));
$fz: 20px;
