.goods {
   width: 100%;
   height: auto;
   padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));

   &__tile {
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 4px;
   }
}
.separating-container {
}
.goods-card {
   width: 33%;
   height: auto;
   padding: 6px;

   display: flex;
   justify-content: center;
   align-content: center;

   background-color: $colorLightGray;

   &__preview {
      width: 50%;
      height: auto;
      background-color: blue;
   }

   &__img {
      width: 100%;
      text-align: center;
      vertical-align: middle;

      img {
         width: 100%;
      }
   }

   &__color {
   }

   &__content {
      width: 50%;
      height: 30px;
   }

   &__title {
   }

   &__description {
   }

   &__price {
   }
   &__button {
      width: calc(100% - 8px);
      //color: red;
   }
}
