.goods-card {
   height: auto;
   background-color: $colorWhite;
   border: 2px solid $colorLightGray;
   &__img {
      max-width: 100%;
      text-align: center;
      img {
         max-width: 100%;
         max-height: 100%;
         width: 80%;
         object-fit: cover;
      }
   }
   &__color-box {
      max-width: 210px;
      height: 77px;

      position: relative;
      margin: auto;
      @media (max-width: 426px) {
         max-width: 315px;
      }
   }
   &__color-items {
      width: 100%;
      max-height: 69px;
      overflow: hidden;
      //display: grid;
      //grid-template-columns: repeat(auto-fill, 28px);
      grid-auto-rows: 28px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 7px;

      background-color: rgba($colorWhite, 0.8);
      position: absolute;
      padding: 3px;
      bottom: 0;
      left: 0;
      transition: all 1s;
      &:hover {
         max-height: 400px;
      }
   }
   &__color-item {
      width: 28px;
      height: 28px;
      min-width: 28px;
      min-height: 28px;
   }
   &__title {
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: $colorDarkGray;
      line-height: normal;
      @media (max-width: 769px) {
         font-size: 1.4em;
      }
      @media (max-width: 426px) {
         font-size: 2.2em;
      }
   }
   &__sub-title {
      font-size: 1em;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      color: $colorDarkGray;
      @media (max-width: 769px) {
         font-size: 1.3em;
      }
      @media (max-width: 426px) {
         font-size: 2.2em;
      }
   }

   &__price {
      font-size: 1.5em;
      font-weight: 800;
      text-align: center;
      color: $colorDarkGray;
      line-height: normal;
      @media (max-width: 769px) {
         font-size: 1.8em;
      }
      @media (max-width: 426px) {
         font-size: 3em;
      }
   }
}

.goods {
   width: 100%;
   height: auto;
   overflow: hidden;
   &__tile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));
      gap: 10px;
      @media (max-width: 769px) {
         grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 426px) {
         grid-template-columns: 1fr;
      }
   }
   &__separating-container {
      background: $colorLightGray;
      margin: 2px 0;
   }
}
