.goods-card {
   height: auto;
   background-color: $colorWhite;
   border: 2px solid $colorLightGray;
   padding: .8em 0;
   transition: all .3s;

   &:hover {
      // background-color: red;
      box-shadow: 2px 3px 4px 2px rgba($colorDarkGray, .3);
      //&__img {
         //width: 85%;
         img {
            width: 82%;
         }
      //}
      
   }

   &__img {
      max-width: 100%;
      aspect-ratio: 4/4;
      text-align: center;
      overflow: hidden;
      img {
         max-width: 100%;
         max-height: 100%;
         width: 80%;
         object-fit: cover;
         transition: all .3s;
      }
   }
   &__color-box {
      //max-width: 210px;
      width: 100%;
      //flex-basis: 80%;
      //background-color: plum;
      height: calc(28px * 2 + 7px);

      position: relative;
      margin: 0 auto .5em auto;

      //@media (max-width: 769px) {
      //   max-width: 305px;
      //   height: 116px;

      //}
   }
   &__color-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, 28px);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      max-width: 85%;
      max-height: calc(28px * 2 + 7px);
      min-height: calc(28px * 2 + 7px);

      gap: 7px;
      background-color: rgba($colorWhite, 0.8);
      overflow: hidden;
      transition: all 1s;
      &:hover {
         max-height: 400px;
      }
      @media (max-width: 769px) {
         grid-template-columns: repeat(auto-fill, 44px);
         //max-height: calc(44px * 2 + 7px);
         //min-height: calc(44px * 2 + 7px);
      }
   }
   &__color-item {
      width: 28px;
      height: 28px;
      min-width: 28px;
      min-height: 28px;
      cursor: pointer;

      @media (max-width: 769px) {
         min-width: 44px;
         min-height: 44px;
      }
   }
   &__title {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.5em;
      text-align: center;
      color: $colorDarkGray;
      @media (max-width: 769px) {
         font-size: 1.4em;
      }
      @media (max-width: 426px) {
         font-size: 2.2em;
      }
   }
   &__sub-title {
      font-size: 1em;
      font-weight: 400;
      line-height: 1.2em;
      text-align: center;
      color: $colorDarkGray;
      @media (max-width: 769px) {
         font-size: 1.3em;
      }
      @media (max-width: 426px) {
         font-size: 2.2em;
      }
   }

   &__price {
      font-size: 1.3em;
      font-weight: 700;
      text-align: center;
      color: $colorBlue;
      line-height: 2em;
      @media (max-width: 769px) {
         font-size: 1.8em;
      }
      @media (max-width: 426px) {
         font-size: 3em;
      }
   }
}

.goods {
   width: 100%;
   height: auto;
   overflow: hidden;
   &__tile {
      display: grid;
      grid-template-columns: repeat(4, minmax(188px, 1fr));
      padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));
      gap: 10px;
      @media (max-width: 769px) {
         grid-template-columns: repeat(2, minmax(188px, 1fr));
         padding: 0 8px;
      }
      @media (max-width: 600px) {
         grid-template-columns: repeat(2, minmax(188px, 1fr));
         padding: 0 8px;

      }
      @media (max-width: 426px) {
         grid-template-columns: minmax(188px, 1fr);
         padding: 0 18px;
      }
   }
   &__separating-container {
      background: $colorLightGray;
      margin: 2px 0;
   }
}
