.heder {
   // display: block;
   width: 100%;
   position: relative;
   z-index: 601;
   font-size: 20px;
   font-weight: 700;

   &__conteiner_1 {
      min-height: 37px;
      height: auto;
      background-color: $colorDarkGray;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: end;
      overflow-x: hidden;
      padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));
      @media (max-width: 1200px) {
         padding: 0 8px;
      }
      @media (max-width: 768px) {
         justify-content: space-between;
      }
      div {
         padding-right: 25px;
      }

      *:last-child {
         padding: 0;
      }
      .language {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      & a {
         display: block;
         font-weight: 700;
         color: $colorWhite;
         text-transform: uppercase;
         &:hover {
            color: $colorOrange;
         }
      }
      span {
         display: inline-block;
         width: 3px;
         height: 30px;
         margin: 0 10px;
         background-color: $colorWhite;
      }
   }
   &__conteiner_2 {
      max-width: 1200px;
      margin: 0 auto;
      overflow-x: hidden;
      background-color: $colorWhite;
      display: flex;
      align-items: cnter;
      justify-content: space-between;
      @media (max-width: 768px) {
         justify-content: center;
      }
      // &.fixed{
      // 	margin-bottom: 47px;
      // }
   }
   &__conteiner_3 {
      height: 47px;
      background-color: $colorLightGray;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      overflow-x: hidden;
      &.fixed {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 100;
         &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 47px;
            background-color: $colorLightGray;
            z-index: -30;
         }
      }
      svg {
         width: 35px;
         height: 35px;
         margin-right: calc(0px + (15 - 0) * ((100vw - 770px) / (1600 - 770)));
         fill: $colorBlue;
         transition: all 0.5s;
         @media (max-width: 768px) {
            margin-right: 0;
         }
      }
      .call,
      .e-mail,
      .viber,
      .telegram {
         display: flex;
         align-items: centre;
         // transition: all .8s;
         a {
            display: flex;
            align-items: centre;
            color: inherit;
            transition: all 0.5s;
            &:hover {
               color: $colorOrange;
               svg {
                  fill: $colorOrange;
               }
            }
         }
         .numbers p:after {
            content: "";
            width: 3px;
            height: 40px;
            display: block;
            background-color: $colorWhite;

            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
            margin-left: calc(0px + (15 - 0) * ((100vw - 320px) / (1600 - 320)));
         }
         .numbers,
         .mail,
         .viber-text,
         .telegram-text {
            display: flex;
            align-items: centre;
            color: inherit;
            // transition: all 2s;
            @media (max-width: 768px) {
               position: fixed;
               width: 100%;
               height: 100%;
               top: -100%;
               left: 0;
               background-color: rgba($colorDarkGray, 0.95);
               flex-direction: column;
               align-items: flex-end;
               justify-content: center;
               z-index: -50;
               transition: all 0.7s;
               &._active {
                  top: 0;
                  left: 0;
                  transition: all 0.7s;
                  overflow: auto;
               }
            }
            p {
               white-space: nowrap;
               position: relative;
               font-size: $adaptiveFZ;
               margin: auto;
               margin-right: calc(0px + (30 - 0) * ((100vw - 320px) / (1600 - 320)));

               // transition: all .8s;
               @media (max-width: 768px) {
                  color: $colorWhite;
                  font-weight: 700;
                  margin: 0 auto;
                  font-size: 24px;
                  // line-height: 50px;
                  // transition: all .8s;
               }
               @media (max-width: 500px) {
                  color: $colorWhite;
                  font-weight: 700;
                  margin: 0 auto;
                  font-size: 38px;
                  // line-height: 50px;
                  // transition: all .8s;
               }
            }
            @media (min-width: 768px) {
               *:last-child {
                  margin: auto;
                  &:after {
                     display: none;
                  }
               }
            }
         }
      }
      .burger-menu {
         width: 40px;
         height: 40px;
         background-color: $colorLightGray;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         display: none;
         @media (max-width: 768px) {
            display: flex;
         }
         .burger-menu__line {
            content: "";
            display: inline-block;
            position: absolute;
            width: 70%;
            height: 4px;
            background-color: $colorBlue;
            transition: all 0.3s;
            &::before {
               content: "";
               position: absolute;
               top: -10px;
               left: 0;
               width: 100%;
               height: 4px;
               background-color: $colorBlue;
            }
            &::after {
               content: "";
               position: absolute;
               top: 10px;
               left: 0;
               width: 100%;
               height: 4px;
               background-color: $colorBlue;
            }
            &._close {
               content: "";
               // display: none;
               position: absolute;
               transform: rotate(-45deg);
               width: 70%;
               height: 4px;
               background-color: $colorBlue;
               transition: all 0.3s;
               &::before {
                  content: "";
                  position: absolute;
                  transform: rotate(90deg);
                  top: 0;
                  width: 100%;
                  height: 4px;
                  background-color: $colorBlue;
               }
               &::after {
                  content: "";
                  display: none;
                  position: absolute;
                  top: 10px;
                  width: 100%;
                  height: 4px;
                  background-color: $colorBlue;
               }
            }
         }
      }
   }
}

.separating-container {
   width: 100%;
   height: auto;
   font-size: 20px;
   font-weight: 700;
   line-height: normal;
   background-color: $colorWhite;
   color: $colorBlue;
   min-height: 37px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   a {
      color: $colorBlue;
      transition: all 0.5s;
      &:hover {
         color: $colorOrange;
      }
   }
}

.social-btn {
   a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      text-transform: lowercase;
      font-size: $adaptiveFZ;
      svg {
         width: 35px;
         height: 35px;
         margin-right: calc(0px + (15 - 0) * ((100vw - 770px) / (1600 - 770)));
         fill: $colorBlue;
         transition: all 0.5s;
         @media (max-width: 768px) {
            margin-right: 0;
         }
      }
      @media (max-width: 768px) {
         p {
            display: none;
         }
      }
   }
}

.contacts {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   svg {
      width: 35px;
      height: 35px;
      margin-right: calc(0px + (15 - 0) * ((100vw - 770px) / (1600 - 770)));
      fill: $colorBlue;
      transition: all 0.5s;
      @media (max-width: 768px) {
         margin-right: 0;
      }
   }
   &__items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      p {
         text-transform: lowercase;
         font-size: $adaptiveFZ;
         position: relative;
         margin-right: calc(0px + (30 - 0) * ((100vw - 320px) / (1600 - 320)));
         &::after {
            content: "";
            width: 3px;
            height: 30px;
            display: block;
            background-color: $colorWhite;

            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
            margin-left: calc(0px + (15 - 0) * ((100vw - 320px) / (1600 - 320)));
         }
      }
      @media (max-width: 768px) {
         p {
            display: none;
         }
      }
      *:last-child {
         margin: auto;
         &:after {
            display: none;
         }
      }
   }
}

.header {
   width: 100%;
   overflow: hidden;
   position: relative;
   &__social-btn {
      a {
         //margin: 4px 0;
         &:hover {
            color: $colorOrange;
            font-size: 20px;
            //margin: -4px 0;
            svg {
               width: 38px;
               height: 38px;
               fill: $colorOrange;
            }
         }
      }
   }
   &__language {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
   }
   &__separating-container {
      &_1 {
         background-color: $colorDarkGray;
         color: $colorWhite;
         justify-content: end;
         padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));
         gap: 25px;
         @media (max-width: 1200px) {
            padding: 0 8px;
         }
         @media (max-width: 768px) {
            justify-content: space-between;
         }
         a {
            color: $colorWhite;
            transition: all 0.5s;
            &:hover {
               font-size: 24px;
               color: $colorOrange;
            }
         }
         span {
            display: inline-block;
            width: 3px;
            height: 30px;
            margin: 0 5px;
            background-color: $colorWhite;
         }
      }
      &_2 {
         justify-content: space-between;
         padding: 0 calc(8px + (120 - 8) * ((100vw - 1200px) / (1440 - 1200)));
      }
      &_3 {
         display: flex;
         justify-content: space-evenly;
         flex-wrap: nowrap;
         background-color: $colorLightGray;
         color: $colorBlue;
         overflow: hidden;
         height: 44px;
         &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100;
            &::before {
               content: "";
               position: absolute;
               top: 0;
               width: 100%;
               height: 47px;
               background-color: $colorLightGray;
               z-index: -30;
            }
         }
      }
   }
}
