.social-btn {
   display: flex;
   justify-content: center;
   align-items: center;

   font-size: 1.6em;
   @media (max-width: 1024px){
      font-size: 1.4em;
   }
   //@media (max-width: 950px){
   //   font-size: 1.1em;
   //}
   a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      text-transform: lowercase;
      //font-size: $fz;
      svg {
         width: 35px;
         height: 35px;
         margin-right: calc(0px + (15 - 0) * ((100vw - 770px) / (1600 - 770)));
         fill: $colorBlue;
         transition: all 0.5s;
         @media (max-width: 768px) {
            margin-right: 0;
         }
      }
      @media (max-width: 950px) {
         p {
            display: none;
         }
      }
   }
}

.contacts {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   svg {
      width: 35px;
      height: 35px;
      margin-right: calc(0px + (15 - 0) * ((100vw - 770px) / (1600 - 770)));
      fill: $colorBlue;
      transition: all 0.5s;
      @media (max-width: 768px) {
         margin-right: 0;
      }
   }
   &__items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      p {
         position: relative;

         margin-right: calc(0px + (30 - 0) * ((100vw - 320px) / (1600 - 320)));

         text-transform: lowercase;
         font-size: 1.6em;
         &::after {
            content: "";
            width: 3px;
            height: 30px;
            display: block;
            background-color: $colorWhite;

            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
            margin-left: calc(0px + (15 - 0) * ((100vw - 320px) / (1600 - 320)));
         }
         @media (max-width: 1024px){
            font-size: 1.4em;
         }
         @media (max-width: 950px){
            font-size: 2.5em;
            color: $colorWhite;
            line-height: 200%;
            &::after {
               display: none;
            }
         }
      }
      @media (max-width: 950px) {
         position: fixed;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100%;
         top: -100%;
         left: 0;   

         background-color: rgba($colorDarkGray, 0.95);

         z-index: -2;
         transition: all 0.7s;
         &._active {
            top: 0;
            left: 0;
            transition: all 0.7s;
            overflow: auto;
         }
      }    
   }
}

.header {
   z-index: 2;
   position: relative;
   &__top-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //height: inherit;
      //grid-template-columns: repeat(4, 50px);

      text-transform: uppercase;
      text-align: right;

      background-color: $colorDarkGray;
      color: $colorWhite;
      .login{
         height: 36px;
         width: 36px;
         background-color: transparent;
      }
      a {
         display: flex;
         justify-content: center;
         align-items: center;
         //position: relative;
         font-size: 1.6em;
         font-weight: 400;
         padding: 50px auto;
         color: $colorWhite;
         transition: all 0.5s;
         &:hover {
            color: $colorLightOrange;
         }
         svg {
            width: 32px;
            height: 32px;
            margin: 2px 2px 2px 6px;
         }
      }
      
      @media (max-width: 1200px) {
         padding: 0 8px;
      }
   }
   &__mid-line{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2px;
      padding-bottom: 2px;
      @media (max-width: 426px) {
         padding: 2px;
      }
   }
   &__contacts-bar{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;

      height: 44px;

      //font-size: 1.4em;

      background-color: $colorLightGray;
      color: $colorBlue;
      overflow: hidden;
      
      z-index: 2;
      &.fixed {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 2;
         &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 44px;
            background-color: $colorLightGray;
            z-index: -1;
         }
      }
   }
}