.modal{
   position: fixed;
   z-index: 999;
   top: -100%;
   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;

   padding: 4%;
   
   background-color: rgba(64, 62, 59, 0.7);
   backdrop-filter: blur(3px);
   cursor: pointer;

   transition: opacity .3s;

   opacity: 0;
   &._action{
      top: 0;
      opacity: 1;
   }
   &__content {
      position: relative;
      min-width: 10%;
      min-height: 10%;
      cursor: default;
   }
   &__close{  
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 25px;
      height: 25px;

      margin: .3em;
      
      color: #fff;
      
      cursor: pointer;
      transition: transform .1s;
      &:hover {
         transform: scale(1.1);
      }
      &::before, &::after{
         content: '';
         position: absolute;
         display: block;
         width: 3px;
         height: 100%;
         background-color: #fff;
         border-radius: 2px;
      }
      &::before{
         transform: rotate(45deg);
      }
      &::after{
         transform: rotate(-45deg);
      }
   }
}

.form {   
   width: auto;
   height: auto;

   padding: 30px;
   
   font-family: inherit;
   font-size: 18px;
   line-height: normal;

   color: #fff;
   //background-color: rgba(64, 62, 59, 0);
   //backdrop-filter: blur(3px);
   // background: $colorDarkBroun;

   input {
      //grid-column: 2/2;
      display: block;

      width: 350px;
      height: 1.5em;

      margin: 0 0 .5em 0;

      font-size: 1em;
      line-height: normal;
      font-family: inherit;

      color: $colorDarkGray;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
   }

   input[type=submit]{
      height: 46px;
      width: 200px;
      margin: 2em auto 0 auto;

      text-transform: uppercase;
      font-family: inherit;
      font-size: .9em;

      //border: 2px solid $colorWhite;
      color: $colorWhite;
      background-color: $colorOrange;

      cursor: pointer;
      transition: transform .1s;

      &:hover {
         // transform: scale(1.02);
         background-color: $colorLightOrange;
      }
   }
   p {
      display: block;

      font-size: .7em;
      line-height: 2em;
      i {
         color: red;
      }
   }
}