.main-menu {
   position: fixed;
   right: 50%;
   transform: translateX(50%);
   
   width: 100%;
   //position: relative;
   ////background-color: rgba($colorWhite, 0.8);
      background: rgba(1, 26, 63, 0.4);
      backdrop-filter: blur(3px);

   

   width: 70%;
   max-width: 996px;
   margin: 5px 0;
   padding: 12px;

   border: solid 1px rgba(245, 245, 245, 0.5);
   border-radius: 26px;
   
   background: rgba(245, 245, 245, 0.5);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(10px);

   z-index: 3;

   &._active{
      bottom: 0;
   }
   &._passive{
      bottom: -110%;
   }
   @media (max-width: 769px) {
      height: 100%;
      position: fixed;
      top: -100%;
      left: 0;
      padding: 150px 0 0 0;
      transition: top 1s;
      overflow: auto;
      &::before {
         background: transparent;
         animation: none;
      }
   }
   .main-menu__list {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      @media (max-width: 769px) {
         width: 100%;
      }

      .main-menu__items {
         width: 7.5%;
         // height: ;
         
         border: 2px solid #6F6F6F;
         border-radius: 25%;

         .main-menu__link {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;


            transition: all 0.7s;
            &:before {
               content: "";
               padding-top: 100%;
               float: left;
            }
            // &:hover .main-menu__svg {
            //    max-width: 55%;
            //    top: 40%;
            // }
            &:hover .main-menu__content {
               font-size: 10px;
               background: #6F6F6F;
               p{
                  padding: 4px 7px;
               }

               &:before {
                  content: "";
                  position: absolute;
                  top: 65%;
                  left: 40%;
                  transform: translate(-50%,-50%);

                  width: 12px;
                  height: 12px;

                  transform: rotate(45deg);
                  transition: all 0.7s;

                  background-color: #6F6F6F;
                  z-index: -1;
               }
            }
            .main-menu__svg {
               max-width: 70%;
               fill: #6F6F6F;

               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);

               transition: all 0.7s;
            }
            .main-menu__content {
               position: absolute;
               top: -40%;
               left: 50%;

               height: auto;
               font-size: 0;
               font-weight: 700;
               font-family: Montserrat;
               text-transform: uppercase;
               text-align: center;
               color: #ffffff;

               background: #6F6F6F;
               border-radius: 5px;

               transform: translate(-50%, -50%);

               // transition: all 0.7s;

            }
         }
         // &:nth-child(1) {
         //    background-color: $colorLightGray;
         //    .main-menu__svg {
         //       fill: $colorBlue;
         //    }
         //    .main-menu__content {
         //       color: $colorBlue;
         //    }
         //    &:hover .main-menu__content {
         //       color: $colorWhite;
         //    }
         //    &:hover .main-menu__svg {
         //       fill: $colorWhite;
         //    }
         // }
         // &:nth-child(2) {
         //    background-color: $colorBlue;
         // }
         // &:nth-child(3) {
         //    background-color: $colorDarkGray;
         // }
         // &:nth-child(4) {
         //    background-color: $colorLightGray;
         //    .main-menu__svg {
         //       fill: $colorBlue;
         //    }
         //    .main-menu__content {
         //       color: $colorBlue;
         //    }
         //    &:hover .main-menu__content {
         //       color: $colorWhite;
         //    }
         //    &:hover .main-menu__svg {
         //       fill: $colorWhite;
         //    }
         // }
         // &:nth-child(5) {
         //    background-color: $colorBlue;
         // }
         // &:nth-child(6) {
         //    background-color: $colorDarkGray;
         // }
         // &:nth-child(7) {
         //    background-color: $colorDarkGray;
         // }
         // &:nth-child(8) {
         //    background-color: $colorLightGray;
         //    .main-menu__svg {
         //       fill: $colorBlue;
         //    }
         //    .main-menu__content {
         //       color: $colorBlue;
         //    }
         //    &:hover .main-menu__content {
         //       color: $colorWhite;
         //    }
         //    &:hover .main-menu__svg {
         //       fill: $colorWhite;
         //    }
         // }
         // &:nth-child(9) {
         //    background-color: $colorBlue;
         // }
         // &:nth-child(10) {
         //    background-color: $colorDarkGray;
         // }
         // &:nth-child(11) {
         //    background-color: $colorLightGray;
         //    .main-menu__svg {
         //       // fill: $colorBlue;
         //    }
         //    .main-menu__content {
         //       // color: $colorBlue;
         //    }
         //    &:hover .main-menu__content {
         //       // color: $colorWhite;
         //    }
         //    &:hover .main-menu__svg {
         //       // fill: $colorWhite;
         //    }
         // }
         // &:nth-child(12) {
         //    background-color: $colorBlue;
         // }
         // &.purple {
         //    background-color: #b26eaa;
         //    //color: #b26eaa;
         //    .main-menu__svg {
         //       fill: $colorWhite;
         //    }
         // }
      }
   }
   // .main-menu__close {
   //    display: none;

   //    width: 50px;
   //    height: 32px;
   //    background-color: #f5f5f5;

   //    position: absolute;
   //    right: 20px;
   //    bottom: -25px;
   //    z-index: -6;
   //    border-radius: 7px;
   //    box-shadow: 2px 1px 6px rgb(0 0 0 / 50%);
   //    cursor: pointer;
   //    transition: all .3s;
   //    &::before {
   //       content: '';
   //       width: 3px;
   //       height: 20px;
   //       position: absolute;
   //       top: 8px;
   //       left: 17px;
   //       transform: rotate(45deg);
   //       border-radius: 3px;
   //       background-color: $colorDarkGray;
   //       transition: all .3s;
   //    }

   //    &::after {
   //       content: '';
   //       width: 3px;
   //       height: 20px;
   //       position: absolute;
   //       top: 8px;
   //       left: 30px;
   //       transform: rotate(-45deg);
   //       border-radius: 3px;
   //       // background-color: $colorDarkGray;
   //       transition: all .3s;
   //    }
   //    &:hover {
   //       bottom: -27px;
   //       box-shadow: 3px 2px 8px rgb(0 0 0 / 50%);
   //    }
   // }
   // &._active {
   //    top: 0;
   //    .main-menu__items {
   //       &:nth-child(1) {
   //          .main-menu__svg {
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //          }
   //       }
   //       &:nth-child(2) {
   //          .main-menu__svg {
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(3) {
   //          .main-menu__svg {
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(4) {
   //          background-color: $colorDarkGray;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(5) {
   //          background-color: $colorLightGray;
   //          .main-menu__svg {
   //             fill: $colorBlue;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorBlue;
   //          }
   //       }
   //       &:nth-child(6) {
   //          background-color: $colorBlue;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(7) {
   //          background-color: $colorBlue;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(8) {
   //          background-color: $colorDarkGray;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(9) {
   //          background-color: $colorLightGray;
   //          .main-menu__svg {
   //             fill: $colorBlue;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorBlue;
   //          }
   //       }
   //       &:nth-child(10) {
   //          background-color: $colorLightGray;
   //          .main-menu__svg {
   //             fill: $colorBlue;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorBlue;
   //          }
   //       }
   //       &:nth-child(11) {
   //          background-color: $colorBlue;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //       &:nth-child(12) {
   //          background-color: $colorDarkGray;
   //          .main-menu__svg {
   //             max-width: 55%;
   //             top: 40%;
   //          }
   //          .main-menu__content {
   //             font-size: calc(10px + (18 - 10) * ((100vw - 280px) / (768 - 280)));
   //             color: $colorWhite;
   //          }
   //       }
   //    }
   //    // .main-menu__items {
   //    //    &.purple {
   //    //       background-color: $colorLightOrange;
   //    //    }
   //    // }
   // }
   // &.replase-fixed {
   //    //top: 44px;
   //    animation: replaseFixed 0.5s;
   // }
   // @media (max-width: 768px) {
   //    &.replase-fixed {
   //       animation: none;
   //    }
   // }
   // &.fixed {
   //    position: fixed;
   //    top: 44px;
   //    animation: fixedNavigate 0.7s;
   //    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   //    .main-menu__items {
   //       width: 7%;
   //       margin: 4px 2px;
   //       position: relative;
   //       .main-menu__link:hover {
   //          .main-menu__content {
   //             font-size: 12px;
   //          }
   //       }
   //       &:nth-child(7) {
   //          background-color: $colorLightGray;
   //          .main-menu__svg {
   //             fill: $colorBlue;
   //          }
   //          .main-menu__content {
   //             color: $colorBlue;
   //          }
   //          &:hover .main-menu__content {
   //             color: $colorWhite;
   //          }
   //          &:hover .main-menu__svg {
   //             fill: $colorWhite;
   //          }
   //       }
   //       &:nth-child(8) {
   //          background-color: $colorBlue;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //          }
   //       }
   //       &:nth-child(9) {
   //          background-color: $colorDarkGray;
   //       }
   //       &:nth-child(10) {
   //          background-color: $colorLightGray;
   //          .main-menu__svg {
   //             fill: $colorBlue;
   //          }
   //          .main-menu__content {
   //             color: $colorBlue;
   //          }
   //          &:hover .main-menu__content {
   //             color: $colorWhite;
   //          }
   //          &:hover .main-menu__svg {
   //             fill: $colorWhite;
   //          }
   //       }
   //       &:nth-child(11) {
   //          background-color: $colorBlue;
   //          .main-menu__svg {
   //             fill: $colorWhite;
   //          }
   //       }
   //       &:nth-child(12) {
   //          background-color: $colorDarkGray;
   //       }
   //    }
   //    .main-menu__close {
   //       display: block;
   //    }
   //    &._hide {
   //       //top: -44px;
   //       animation: hideNavigate 0.7s;
   //       animation-fill-mode: forwards;
   //       .main-menu__close {
   //          &::before {
   //             transform: rotate(-45deg);
   //          }
   //          &::after {
   //             transform: rotate(45deg);
   //          }
   //          &:hover {
   //             bottom: -27px;
   //             box-shadow: 3px 2px 8px rgb(0 0 0 / 50%);
   //          }
   //       }
   //    }
   // }
   
}