//Призначаю кольори проекту
$colorWhite: #fff;
$colorDarkGray: #6f6f6f;
$colorLightGray: #f5f5f5;
$colorBlue: #4170b4;
$colorOrange: #f7931e;
$colorLightOrange: #fbb03b;
$colorPurple: #b26eaa;
$colorTest: lightblue;

//Призначаю шрифти проекту
$fontFamily: "Montserrat", sans-serif;

//Призначаю додаткові змінні проекту
// calck(minSize + (startSize - minSize)*((100vw - minWidth) / (startWidth-minWidth)))
//$adaptiveFZ: calc(12px + (20 - 12) * ((100vw - 770px) / (1600 - 770)));
$fz: calc(12px + (20 - 12) * ((100vw - 320px) / (1600 - 320)));


@import "_tilePages";
@import "_goods-card";
@import "_goods";
