//обнуляємо стилі браузеру
@import "_null";

//Підключаю шрифти з файлу 'dist/fonts.scss'
@import "fonts";

//Подключаео шрифти з файлу 'dist/_global.scss'
@import "_global";

//Підключаємо стилі сторніки сайту
@import "_header";
//@import "_navigation";
//@import "_footer";

//! видалити приклад
body {
   font-family: Montserrat;
   //background-color: red;
}

h1 {
   font-size: 28px;
}

h3 {
   font-size: 24px;
}

ul {
   font-size: 18px;
}

p {
   font-size: 18px;
}
